@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
   <h1>User Login</h1>
   <p>Welkom bij Gym : Kakarott</p>
   <p>Gelieve in te loggen</p>
    <a class="text-dark" asp-area="" asp-page="/Login">Login</a>
</div>